<h1>Editar censo diario</h1>

<%= render "form", censo_diario: @censo_diario %>


<br>

<div>
  <%= link_to "Mostrar este censo", @censo_diario %> |
  <%= link_to "Voltar para a lista", censo_diarios_path %>
</div>
