<h1>Editar upa indicadores SES</h1>

<%= render "form", upa_indicadores_se: @upa_indicadores_se %>

<br>

<div>
  <%= link_to "Mostrar este indicador", @upa_indicadores_se %> |
  <%= link_to "Voltar para a lista", upa_indicadores_ses_path %>
</div>
