<h1>Editing production by specialty</h1>

<%= render "form", production_by_specialty: @production_by_specialty %>

<br>

<div>
  <%= link_to "Mostrar", @production_by_specialty %> |
  <%= link_to "Voltar", production_by_specialties_path %>
</div>
