<h1>Editing computed tomography</h1>

<%= render "form", computed_tomography: @computed_tomography %>

<br>

<div>
  <%= link_to "Mostrar esta tomografia", @computed_tomography %> |
  <%= link_to "Voltar para lista de tomografias", computed_tomographies_path %>
</div>
