<h1>Editar Quantidade de atendimentos hoje</h1>

<%= render "form", hojeqtdatendimento: @hojeqtdatendimento %>


<br>

<div>
  <%= link_to "Mostrar", @hojeqtdatendimento %> |
  <%= link_to "Voltar", hojeqtdatendimentos_path %>
</div>
