<h1>Editing consolidado</h1>

<%= render "form", consolidado: @consolidado %>

<br>

<div>
  <%= link_to "Mostrar este consolidado", @consolidado %> |
  <%= link_to "Voltar para lista de consolidades", consolidados_path %>
</div>
