<div class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col mt-0">
                <h5 class="card-title fs-4 fw-bolder text-secondary"><strong>Taxa de Evasão</strong></h5>
            </div>

            <div class="col-auto">
                <div class="stat text-primary">
                    <i class="align-middle"><strong><30</strong></i>
                </div>
            </div>
        </div>
        <h1 class="mt-0 mb-0 text-<%= @color_d6 %>"><%= @d6 %>%</h1>
        <div class="mb-0">
            <span class="text-<%= @color_d6 %>"><%= @meta_d6 %></span>
        </div>
    </div>
</div> 