<div class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col mt-0">
                <h5 class="card-title fs-4 fw-bolder text-secondary">Atendimento/hoje-UPA</h5>
            </div>

            <div class="col-auto">
                <div class="stat text-primary">
                    <i class="align-middle">210</i>
                </div>
            </div>
        </div>
        <h1 class="mt-0 mb-0 text-<%= @color_total_atendimento_hoje %>"><%= @total_atendimento_hoje %></h1>
        <div class="mb-0">
            <span class="text-<%= @color_total_atendimento_hoje %>"><%= @text_total_atendimento_hoje %></span> 
        </div>
    </div>
</div>