<div class="wrapper">
	<%= render 'welcome/layout/side_bar' %>

	<div class="main">
		<%= render 'welcome/layout/nav' %>

		<main class="content">
			
		</main>

		<%= render 'welcome/layout/footer' %>
	</div>
</div>

