<h1>Editing censo setor</h1>

<%= render "form", censo_setor: @censo_setor %>

<br>

<div>
  <%= link_to "Mostrar este setor", @censo_setor %> |
  <%= link_to "Voltar para lista de setores", censo_setors_path %>
</div>
