<h1>Editing amount of upa service</h1>

<%= render "form", amount_of_upa_service: @amount_of_upa_service %>

<br>

<div>
  <%= link_to "Mostrar esta quantidade", @amount_of_upa_service %> |
  <%= link_to "Voltar para a lista de quantidades", amount_of_upa_services_path %>
</div>
