<div class="card flex-fill w-100">
    <div class="card-header">
        <h5 class="card-title fs-4 mb-0 text-secondary"><strong>Taxa de Ocupação Operacional Mensal</strong></h5>
    </div>
    <div class="card-body py-3">
        <div class="chart chart-sm" style="height:475px" >
            <canvas id="mediaPermanencia"></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // setup 
    var data = {
      labels: [<% @censo_setors.each do |censo_setor| %>"<%= censo_setor.secao %>",<% end %>],
      datasets: [
      {
        label: 'Total de Saídas',
        data: [<% @censo_setors.each do |censo_setor| %><%= censo_setor.total_de_saidas %>,<% end %>],
        backgroundColor: [
          'red'
        ],
        borderColor: [
          'red'
        ],
        borderWidth: 0,
        barPercentage: .75,
        categoryPercentage: .5
      }]
    };

    // config 
    var config = {
      type: 'bar',
      data,
      options: {
        maintainAspectRatio: false,
        legend: {
            display: true
        },
        indexAxis: 'y',
        scales: {
          yAxes: [{
                gridLines: {
                    display: false
                },
                stacked: false,
                ticks: {
                    stepSize: 150
                }
            }],
            xAxes: [{
                stacked: false,
                gridLines: {
                    color: "transparent"
                }
            }]
        }
      }
    };

    // render init block
    var mediaPermanencia = new Chart(
      document.getElementById('mediaPermanencia'),
      config
    );
</script>