<div class="card flex-fill w-100 mb-2">
    <div class="card-header">
        <h5 class="card-title fs-4 mb-0 text-secondary"><strong>Produção Assistencial Hospitalar</strong></h5>
    </div>
    <div class="card-body py-3">
        <div class="chart chart-sm" style="height:475px;" >
            <canvas id="prodHosp"></canvas>
        </div>
    </div>
</div>

<script>
    // setup 
    var data = {
      labels: [<% @production_by_specialties.each do |production_by_specialty| %>"<%= production_by_specialty.specialty %>",<% end %>],
      datasets: [{
        label: 'Meta',
        data: [<% @production_by_specialties.each do |production_by_specialty| %><%= production_by_specialty.foreseen %>,<% end %>],
        backgroundColor: [
          '#3b7ddd'
        ],
        borderColor: [
          '#3b7ddd'
        ],
        borderWidth: 0,
        datalabels: {
          align: 'start',
          anchor: 'end',
          color: 'white'
        },
        barPercentage: 1,
				categoryPercentage: .5
      },
      {
        label: 'Realizadas',
        data: [<% @production_by_specialties.each do |production_by_specialty| %><%= production_by_specialty.accomplished %>,<% end %>],
        backgroundColor: [
          '#dc3545'
        ],
        borderColor: [
          '#dc3545'
        ],
        borderWidth: 0,
        datalabels: {
          align: 'start',
          anchor: 'end',
          color: 'white'
        },
        barPercentage: 1,
				categoryPercentage: .5
      }]
    };

    // config 
    var config = {
      type: 'bar',
      data,
      plugins: [ChartDataLabels],
      options: {
        maintainAspectRatio: false,
        legend: {
            display: true
        },
        indexAxis: 'x',
        scales: {
          yAxes: [{
                gridLines: {
                    display: false
                },
                stacked: false,
                ticks: {
                    stepSize: 100
                }
            }],
            xAxes: [{
                stacked: false,
                gridLines: {
                    color: "transparent"
                }
            }]
        }
      }
    };

    // render init block
    var prodHosp = new Chart(
      document.getElementById('prodHosp'),
      config
    );
</script>