<div class="card flex-fill w-100">
    <div class="card-header">
        <h5 class="card-title fs-4 mb-0 text-secondary"><strong>Operacional Mensal</strong></h5>
    </div>
    <div class="card-body py-3">
        <div class="chart chart-sm" style="height:475px;" >
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script>
    // setup 
    var data = {
      labels: [<% @censo_setors.each do |censo_setor| %>"<%= censo_setor.secao %>",<% end %>],
      datasets: [{
        label: 'Pacientes/Dia',
        data: [<% @censo_setors.each do |censo_setor| %><%= censo_setor.pacientes_dia %>,<% end %>],
        backgroundColor: [
          '#3b7ddd'
        ],
        borderColor: [
          '#3b7ddd'
        ],
        borderWidth: 0,
        datalabels: {
          align: 'start',
          anchor: 'end',
          color: 'white'
        },
        barPercentage: 2,
				categoryPercentage: .5
      },
      {
        label: 'Leitos/Dia',
        data: [<% @censo_setors.each do |censo_setor| %><%= censo_setor.leitos_dia %>,<% end %>],
        backgroundColor: [
          'red'
        ],
        borderColor: [
          'red'
        ],
        borderWidth: 0,
        datalabels: {
            align: 'end',
            anchor: 'end',
            color: 'black'

        },
        barPercentage: 2,
				categoryPercentage: .5
      }]
    };

    // config 
    var config = {
      type: 'bar',
      data,
      options: {
        plugins: {
          legend: {
            display: false
          }
        },
        
      },
      plugins: [ChartDataLabels],
        options: {
          maintainAspectRatio: false,
        legend: {
            display: true
        },
        indexAxis: 'y',
        scales: {
          yAxes: [{
                gridLines: {
                    display: false
                },
                stacked: false,
                ticks: {
                    stepSize: 50
                }
            }],
            xAxes: [{
                stacked: false,
                gridLines: {
                    color: "transparent"
                }
            }]
        }
        
      }
    };
    
    // render init block
    var myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
</script>